div#driverwindow {
    text-align: center;
    background-color: white;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
}

table#driversTable {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 30px;
}
th {
    border: 2px solid;
    text-align: center;
}

td {
    border: 1px solid;
    text-align: left;
    width: 50%;
}
