div#maindiv {
	position: fixed;
	text-align: center;
	width: 20%;
	margin-left: 40%;
}

fieldset {
	background-color: white;
}

.field {
	text-align: left;
	margin: 5px 0px 5px; 0px;
	display: block;
}

.submit {
	text-align:	left;
	display: block;
	margin-right: 125px;
}

#fields {
	text-align: center;
}
