<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	lang="pl">
<head>
	<title>Tachograf inspektor</title>

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		type="text/css"
		th:href="@{css/style.css}"
		href="../static/css/style.css" />
	<link rel="stylesheet"
		type="text/css"
		th:href="@{css/login.css}"
		href="../static/css/login.css" />
</head>
<body>

	<div id="loginpage">
		<div id="info">
			<h3>Witamy w aplikacji Tachograf-Inspektor</h3>
			<p>Aplikacja ma na celu pomoc w kontroli czasu pracy kierowców.
				Wystarczy wprowadzić dane odczytane z tachografu do aplikacji,
				a sama pokaże nam, kiedy zapisy z urządzenia różnią się od reguł prawnych.</p>
			<p>Kody zródłowe dostępne pod tym <a target="_blank" href="https://github.com/Pazdr0/TachographInspector">linkiem</a>
			<p>Aplikacja napisana jest w języku Java, używając frameworków: Spring (Spring Boot, Spring MVC, Spring Data, Spring Security) oraz Hibernate.
				Część aplikacji, a konkretnie samo sprawdzanie zgodności czasu pracy kierowcy z przepisami napisana jest w języku Kotlin.
				Stony napisane są oczywiście w HTMLu oraz wygląd nadany jest za pomocą języka CSS, część dynamiczna w języku JavaScript.
				Aplikacja uruchomiona jest na kontenerze serwletów Apache Tomcat 9, baza danych to PostgreSQL</p>
		</div>
		<div id="login">
			<form action="#" th:action="@{/login}" th:object="${user}" method="post">
				<fieldset>
					<legend>Logowanie</legend>
					Login: <input type="text" th:field="*{userName}"/><br />
					Hasło: <input type="password" th:field="*{password}"/><br />
					<a th:href="@{register}" href="/register">Rejestracja</a>
					<a th:href="@{remindpass}" href="/remindpass">Zapomniałem hasła</a><br />
					<input type="submit" value="Zaloguj" />
				</fieldset>
			</form>
		</div>
	</div>

	<footer>
		Copyright &copy: Bartosz Golc <br />
		<div id="footermail">Email: bartosz.golc@outlook.com</div>
		<div id="footergit">GitHub: <a target="_blank" href="https://github.com/Pazdr0">Pazdr0</a></div>
	</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>
