table#driverstable {
    width: 100%;
    margin: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    width: 20%;
}

tr:nth-child(even) {
    background-color: rgba(157, 157, 157, 0.40)
}

th {
    background-color: #4CAF50;
    color: white;
}

div.scrollable {
    margin: auto;
    width: 80%;
    overflow-y: auto;
    max-height: 500px;
}

button#choose {
	background-color: #4CAF50;
	color: white;
	padding: 5px 5px;
	margin: 4px 0px;
	border: none;
	cursor: pointer;
	width: 80%;
    margin-left: 10%;
}

button#choose:hover {
	opacity: 0.8;
}
