div#divtable {
    width: 80%;
    margin: auto;
    max-width: 550px;
}

div.scrollable {
    margin: auto;
    width: 80%;
    overflow-y: scroll;
    max-height: 500px;
}

table#driverstable {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

th, td {
    padding: 10px;
    text-align: center;
    width: 40%;
}

tr:nth-child(even) {
    background-color: rgba(157, 157, 157, 0.40)
}

th {
    background-color: #4CAF50;
    color: white;
}

.radio {
    background-color: white;
    width: 10%;
}

button#choose {
	background-color: #4CAF50;
	color: white;
	padding: 5px 5px;
	margin: 4px 0px;
	border: none;
	cursor: pointer;
	width: 80%;
    margin-left: 10%;
}

button#choose:hover {
	opacity: 0.8;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
