
div#driverwindow {
    text-align: center;
    background-color: white;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}

div#choosewidnow {
    text-align: left;
    margin-left: 25%;
}

button#submitButton {
    margin-top: 20px;
}

.mycol {
    width: 80px;
    border: 1px solid black;
}
